.venv/
__pycache__
mnist_data
*.html
*.npz
*.pth
*.gz
MNIST/

Project3/models/**/*.pt
!Project3/models/bigram/mini_model_checkpoint_500000.pt
!Project3/models/minigpt/mini_model_checkpoint_180000.pt

wandb/